*{ 
    margin: 0;
    padding: 0;
}


.container{
   height: 10vh;
width: 200px;
position: absolute;
align-items: center;
justify-content: center;  
}
.game{
    height: 10vh;
width: 200px;
position: absolute;
align-items: center;
justify-content: center;
} 
.box{
    height: 3rem;
    width: 3rem;
    align-items: center;
}